body{
	margin-top: 20px;
	background-color: lightgrey;
	font-family: Geneva,Tahoma,Verdana,sans-serif; 
	}

section{
	margin: : 20px;
}

button{
	background-color: purple;
	color: white;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 8px;
}

#add-artist{
	background-color: purple;
	color: white;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 8px;
}